{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
{% block content %}
  {% csrf_token %}
    {% if user.is_authenticated  %}
      {% if user.is_superuser == 1 %}
        <font SIZE=4 color="black"> 
          <div align="center">       
            <form class="form" method="POST">
              <div class="card bg-light mb-3" style="max-width: 35rem;" align="right">
                <h1 class="display-4" align="center" style="color:green"> Editar usuario</h1>
                  <div class="form-group"> 
                    <p class="bg-dark">
                      {% csrf_token %}
                      {{ form.as_p }}
                      <button type="submit" class="btn btn-success">Editar</button>
                      <button type="reset" class="btn btn-dark" OnClick="location.href='{% url 'lista_usuarios' %}'">Cancelar</button>
                  </p>
              </div>
            </form>
          </div>
        </font>
      {% else %}
        <h1 class="display-4" align="justify" style="color:green"> Error no eres administrador.</h1>
      {% endif %}
    {% else %}
      <h1 class="display-4" align="justify" style="color:green"> Inicia sesión. </h1>
    {% endif %}
{% endblock %}
  