{% extends "monitoreo/layout.html" %}

    {% block content %}
    
    <div class="jumbotron">
        <div class="shadow-lg p-3 mb-5 bg-white rounded">
            <h1 class="display-4" align="justify" style="color:green"> Monitoreo De Sintomas del COVID-19</h1>
            <h2 class="lead" align="center" style="color:red"> Hola mundo </h2>
            <hr class="my-4">
                <p class="h2" align="center"> En esta pagina se hace el monitoreo del ingreso dentro de un edificio.</p>
                <p class="h3" style="color:black" align="left">    Sí no cuenta con una cuenta debe de registarse.</p>
                 <form method="get" align="right">
                    <a class="btn btn-primary btn-lg" class="link-success" href="" role"button">Registar un usuario nuevo.</a> 
                 </form>
                <p class="h3" style="color:black" align="left">  Sí ya cuentas</p>
                 <form method="get" align="right">
                    <p class="btn btn-primary btn-lg" class="link-success" href="" role"button">Iniciar sesion.</a> 
                </form>
     </div>   
    </div> 
    {% endblock %}
