{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
    {% block content %}
    
    <div class="row">
        <div class="col-md-12">
            <div class="shadow-lg p-3 mb-5 bg-white rounded">
                <h1 class="display-4" align="justify" style="color:green"> Monitoreo De Sintomas del COVID-19</h1>
                <h2 class="lead" align="center" style="color:red"> Hola mundo </h2>
                <hr class="my-4">
                <p class="h2" align="center"> En esta pagina se hace el monitoreo del ingreso dentro de un edificio.</p>
            </div>   
        </div> 
    </div>
    {% endblock %}
