<!DOCTYPE html>
<html lang="es" class style="height:auto;">

  <head>
  
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Monitoreo</title>
      {% load bootstrap4 %}
      {% bootstrap_css %}
      
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'inicio' %}">Monitoreo de Sintomas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

        {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'usuario' %}">Informacion</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'inicio' %}">Historial</a>
            </li>
            {% if user.is_superuser == 1 %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'Admi_listas' %}">Administrador</a>
                </li>  
            {% endif %}
          </ul>
          </div>
          
          <span class="navbar-text">
            <a class="nav-link" href="{% url 'logout' %}">Cerrar Sesión</a>
          </span>
        {% else %}
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">

        <span class="navbar-text">
          <a class="nav-link" href="{% url 'login' %}">Inicio Sesión</a>
        </span>
        
        <span class="navbar-text">
          <a class="nav-link" href="{% url 'registro' %}">Registro</a>
        </span>
        </div>      
        {% endif %}
      
    </nav>

    <div class="p-5 text-center bg-image" style="background-image: url(https://www.ipn.mx/assets/files/imageninstitucional/img/Logo%20IPN%2085%20aniversrio.jpg); height: 1100px;">
        {% block content %}
        {% endblock %}
    </div>
    {% bootstrap_javascript jquery='full' %}
  </body>
</html>