{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
<!--Diseño general-->
{% block content %}

<div align="right">        
    <form class="form" method="POST">
        <div class="card bg-light mb-3" style="max-width: 20rem;" align="center">
            <p class="bg-dark">
        {% csrf_token %}
                {{ formulario.as_p }}
            </p>
        <button type="submit">Crear</button>
        <button><a href="{% url 'lista_usuarios' %}">Cancelar</a></button>
        </div>
    </form> 
</div>
{% endblock %}
