{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
{% block content %}
      <h1 class="display-4" align="justify" style="color:green"> Usuario restringidos </h1>
      <font SIZE=3 color="silver"> 
        <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">CURP</th>
              <th scope="col">Nombre Usuario</th>
              <th scope="col">Correo</th>
              <th scope="col">Fecha de registro</th>
              <th scope="col">Ultima sesión.</th>
              <th scope="col">Contraseña</th>
              <th scope="col">Boleta</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Tipo de usuario</th>

            </tr>
        </thead>
        <tbody>
            {% for usuario in usuarios %}
                {% if usuario.estado == 0 %}  
                    <tr>
                    <td>{{forloop.counter}}</td>
                    <td>{{usuario.user.first_name}}</td>
                    <td>{{usuario.user.last_name}}</td>
                    <td>{{usuario.curp}}</td>
                    <td>{{usuario.user.username}}</td>
                    <td>{{usuario.email}}</td>
                    <td>{{usuario.user.date_joined}}</td>
                    <td>{{usuario.user.last_login}}</td>
                    <td>{{usuario.clave}}</td>
                    <td>{{usuario.boleta}}</td>
                    <td>{{usuario.fecha_nacimiento}}</td>
                    
                    <td> 
                        {% if usuario.id_tipo == 1 %}
                        Estudiante
                        {% endif %}
                        {% if usuario.id_tipo == 2 %}
                        Docente
                        {% endif %}
                        {% if usuario.id_tipo == 3 %}
                        Administración
                        {% endif %}
                        {% if usuario.id_tipo == 4 %}
                        Invitado
                        {% endif %}
                    </td>
                    <td>{{usuario.estado}}</td>
                    <td>
                    <button type="botton" class="btn btn-success" OnClick="location.href='{% url 'formrestring' usuario.id %}'">Activar</button>
                    </td>
                    <td>
                    <button type="botton" class="btn btn-danger" OnClick="location.href='{% url 'historialgenusuario' usuario.id %}'">Eliminar</button>
          
                    </td>
                {% endif %}
            {% endfor %}
        </tbody>
     </table>
    </font>
{% endblock %}
