{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
{% block content %}
{% csrf_token %}
  {% if user.is_authenticated  %}
    {% if user.is_superuser == 1 %}
      <h1 class="display-4" align="justify" style="color:green"> Usuario restringidos </h1>
      <font SIZE=3 color="silver"> 
        <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombres</th>
              <th scope="col">Apellidos</th>
              <th scope="col">CURP</th>
              <th scope="col">Nombre Usuario</th>
              <th scope="col">Correo</th>
              <th scope="col">Boleta</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Tipo de usuario</th>

            </tr>
          </thead>
          <tbody>
            {% for usuario in usuarios %}
                {% if usuario.estado == 0 %}  
                    <tr>
                    <td>{{forloop.counter}}</td>
                    <td class="align-middle">{{usuario.user.first_name}}</td>
                    <td class="align-middle">{{usuario.user.last_name}}</td>
                    <td class="align-middle">{{usuario.curp}}</td>
                    <td class="align-middle">{{usuario.user.username}}</td>
                    <td class="align-middle">{{usuario.email}}</td>
                    <td class="align-middle">{{usuario.boleta}}</td>
                    <td class="align-middle">{{usuario.fecha_nacimiento}}</td>
                    <td class="align-middle"> 
                        {% if usuario.id_tipo == 1 %}
                        Estudiante
                        {% endif %}
                        {% if usuario.id_tipo == 2 %}
                        Docente
                        {% endif %}
                        {% if usuario.id_tipo == 3 %}
                        Administración
                        {% endif %}
                        {% if usuario.id_tipo == 4 %}
                        Invitado
                        {% endif %}
                    </td>
                    <td class="align-middle">
                    <button type="botton" class="btn btn-success" OnClick="location.href='{% url 'formrestring' usuario.id %}'">Activar</button>
                    </td>
                    <td class="align-middle">
                    <button type="botton" class="btn btn-danger" OnClick="location.href='{% url 'historialgenusuario' usuario.id %}'">Eliminar</button>
                    </td>
                {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </font>
    {% else %}
      <h1 class="display-4" align="justify" style="color:green"> Error no eres administrador.</h1>
    {% endif %}
  {% else %}
    <h1 class="display-4" align="justify" style="color:green"> Inicia sesión. </h1>
  {% endif %}
{% endblock %}
