{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
{% block content %}
    {% csrf_token %}
    {% if user.is_authenticated %}
    <h1 class="display-4" align="justify" style="color:green"> Historial</h1>
      <font SIZE=3 color="silver"> 
        <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre Usuario</th>
              <th scope="col">Temperatura</th>
              <th scope="col">Oxigenación</th>
              <th scope="col">Fecha de medición</th>
            </tr>
          </thead>
        <tbody>
          {% for historial in historicos %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{historial.nombre_usuario}}</td>
            <td>{{historial.temperatura}}</td>
            <td>{{historial.oxigenacion}}</td>
            <td>{{historial.fecha_hora_registro}}</td>
          {% endfor %}
        </tbody>
      </table>  
    <h1 class="display-4" align="justify" style="color:green"> Incidentes</h1>
      <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre Usuario</th>
              <th scope="col">Fecha de inicio de sintomas</th>
              <th scope="col">Tipo de alerta</th>
              <th scope="col">Fecha de prueba</th>
              <th scope="col">Tipo de prueba</th>

            </tr>
          </thead>
        <tbody>
        {% for monitoreo in monitoreos %} 
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{monitoreo.nombre_usuario}}</td>
            <td>{{monitoreo.fecha_sintomas}}</td>
            <td>{{monitoreo.estado_condicion}}</td>
            <td>{{monitoreo.fecha_prueba}}</td>
            <td>{{monitoreo.tipo_prueba}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  </font>
{% endblock %}
