{% extends "monitoreo/layout.html" %}
{% load widget_tweaks %}
{% block content %}
    {% csrf_token %}
    {% if user.is_authenticated %}
        <table class="table table-borderless table-dark">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Nombre Usuario</th>
              <th scope="col">Temperatura</th>
              <th scope="col">Oxigenación</th>
              <th scope="col">Fecha de medición</th>
            </tr>
          </thead>
        <tbody>
          {% for historial in historicos %}
            <tr>
            <td>{{forloop.counter}}</td>
            <td>{{historial.nombre_usuario}}</td>
            <td>{{historial.temperatura}}</td>
            <td>{{historial.oxigenacion}}</td>
            <td>{{historial.fecha_hora_registro}}</td>
          {% endfor %}
        </tbody>
    {% endif %}
{% endblock %}
